@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@400;700&display=swap');

/*Css global*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Inter;
    text-decoration: none;
    color: white;
}

html {
    scroll-behavior: smooth;
}

/*Css body da imagem*/

.background {
    background-image: url("/img/Galaxia.webp");
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 90vh;
}

/*header estilizado*/

header {

    display: flex;
    justify-content: space-around;
    background-color: #01000174;
    padding: 10px;
    align-items: center;
    height: 70px;

}

/*Texto Alex*/

header h1 {
    color: aliceblue;
    font-size: 2.5rem;
}

/*Navbar estilizado, texto lado a lado*/

header .navbar {
    display: flex;
    align-items: center;
    gap: 30px;
}

/*Estilizando texto da nav*/

header .navbar li a {
    padding: 10px;
    color: white;
    font-size: 1.3rem;
}

/*Navbar estilizado, com o hover*/

header .navbar li a:hover {
    padding: 10px;
    color: #4BF4EF;
    font-size: 1.3rem;
}

.myinformations {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    padding: 60px;
    margin-left: 100px;
}

.myinformations div {
    animation: inicializar .7s forwards;
    margin-top: 25px;
    align-self: start;
    display: grid;
    gap: 10px;
}

.myinformations #Alex img {
    width: 280px;
    height: 280px;
    border: 4px solid transparent;
    background: linear-gradient(#75C4F0, #531CB4, #633bbc) padding-box,
        linear-gradient(260deg, #75C4F0, #531CB4, #BD00FF) border-box;
    border-radius: 50%;
    margin-left: 50px;
}

.myinformations div h2 {
    color: #4BF4EF;
    font-weight: 600;
}

.myinformations div p {
    color: #f7f7f7;
    font-weight: 200;
}

.myinformations div button {
    background-color: #8854e8;
    cursor: pointer;
    border: 40px;
    border-radius: 15px;
    color: white;
    font-weight: 600;
    height: 50px;
    width: 100px;
}

.myinformations .botoes {
    display: flex;
    align-items: center;
}

@keyframes inicializar {
    from {
        opacity: 0;
        transform: translate3d(0, 60px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

}

/* Seção da main*/

main {
    background: linear-gradient(150deg, #180439, #332A66);
}

main .sobre {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    padding: 40px;
}

.titulo {
    margin: 30px 0;
    grid-column: 1/-1;
    text-align: center;
}

.titulo h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.titulo p {
    font-size: 1.4rem;
    position: relative;
    margin-bottom: 1px;
    color: #4BF4EF;
}

.sobre img {
    animation: fotoAbout .6s ease-in-out forwards;
    cursor: pointer;
    grid-row: 2;
    max-width: 100%;
    border-radius: 4px;
    filter: blur(0);
}

.sobre img:hover {
    transition: .5s ease-in;
    filter: blur(1px);
}

.sobre-mim {
    animation: subirAbout .6s ease-in-out forwards;
    grid-column: 2/-1;
    display: grid;
    color: #4BF4EF;
    grid-template-columns: 1fr 1fr;
}

.texto-sobre-mim {
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: 1fr 1fr;
}

.texto-sobre-mim h1 {
    font-size: 2.3rem;
    color: #4BF4EF;
    grid-column: 1/-1;
}

.texto-sobre-mim::after {
    background-color: #4BF4EF;
    height: 6px;
    width: 50%;
    margin: 20px 0;
    content: "";
    display: block;
}

.texto-sobre-mim p {
    font-size: 1.3rem;
    grid-row: 2;
    grid-column: 1/-1;
    text-align: justify;
}

.sobre-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/-1;

    align-items: center;
}

.sobre-info i {
    display: inline-block;
    padding-right: 15px;

}

.sobre-info p {
    font-size: 1.4rem;
    margin-left: 5px;
}

/* MY PROJECTS */

.projects {
    padding: 30px;
    display: grid;
    text-align: center;
    justify-content: center;
    gap: 30px;
    background: linear-gradient(370deg, #180439, #332A66);
}

.projects h1 {
    font-size: 2.3rem;
    color: #4BF4EF;
}

.projects ul {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.projects_armazenamentos_web ul {
    display: grid;
    margin-top: 60px;
    gap: 20px;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
}

.projects_armazenamentos_web ul .menos.hidden {
    display: none;
}



.projects_armazenamentos_web ul li {
    max-width: 100%;
    height: 100%;
}




.projects_armazenamentos_web ul li img {
    max-width: 100%;
    height: 100%;
    border-radius: 4px;
    cursor: pointer;
}

.projects a {
    background-color: #332A66;
    padding: 20px 40px;
}

.projects_armazenamentos  {
    display: none;
}



.projects_armazenamentos_web #website a{
    background: none;
    display: block;
}


/* FOOTER */

footer {
    background: linear-gradient(180deg, #180439, #332A66);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

footer h1 {
    text-align: center;
    color: #4BF4EF;
}

.footer_sociais {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
}

.footer_sociais li {
    background-color: #633bbc;
    border-radius: 50%;
    border: 1px solid #4BF4EF;
}

.footer_sociais li i {
    padding: 30px;
    font-size: 1.5rem;
}

.footer_sociais li:hover {
    transition: .3s ease-in-out;
    cursor: pointer;
    background-color: #180439;

}

.footer_sociais::before {
    content: '';
    height: 5px;
    position: absolute;
    width: 250px;
    bottom: -50px;
    background-color: #4BF4EF;
}

footer .footer_comercial {
    text-align: center;
    margin: 90px auto;
    font-size: 1.5rem;

}

@keyframes subirAbout {
    from {
        transition: .5s;
        transform: translate3d(60px, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fotoAbout {
    from {
        transition: .5s;
        transform: translate3d(-60px, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@media (min-width: 992px) {
    header .fa-bars {
        display: none;

    }

    header .navbar {
        display: flex;
        align-items: center;
        gap: 30px;

    }

    header .navbar li {
        display: block;
    }

    header .navbar li a {
        padding: 10px;
        font-size: 1.3rem;
    }

    header .navbar li a:hover {
        padding: 10px;
        color: #4BF4EF;
        font-size: 1.3rem;
    }
    
}

@media (max-width: 992px) {
    .sobre img {
        grid-column: 1/-1;
        justify-self: center;
    }

    .sobre-mim {
        grid-column: 1/-1;
    }

    header .navbar {
        display: none;
    }

    header {
        justify-content: space-between;
        padding: 30px 80px;
    }

    header .navbar.ativado {
        position: absolute;
        display: grid;
        background-color: #180439;
        top: 80px;
        z-index: 1;
        padding: 18px;
        font-size: 1.1rem;
        border-radius: 0 0 4px 4px;
        animation: subirAbout .8s ease-in-out forwards;
        right: 20px;

    }

    .myinformations {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        height: 100%;

    }

    .background {
        height: 90vh;

    }

    .myinformations #Alex img {
        display: none;
    }

    .sobre-info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    .projects_armazenamentos_web{
        display: none;
    }

    #lerMais {
        display: none;
    }

    .projects_armazenamentos{
        display: block;
    }
    .projects_armazenamentos .slideshow-container {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 170px;
    }

    .projects_armazenamentos .slide {
        display: none;
    }

    .projects_armazenamentos .slide:first-child {
        display: block;
    }

    .projects_armazenamentos .slide img {
        max-width: 100%;
        height: auto;

    }

    .projects_armazenamentos .slide {
        animation: fadeInOut 4s ease infinite;
    }

    
    @keyframes fadeInOut {
        0% {
            opacity: 0;
        }

        25% {
            opacity: 1;
        }

        75% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    .projects_armazenamentos {
        position: relative;
    }

    .projects_armazenamentos .prev,
    .projects_armazenamentos .next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 30px;
        cursor: pointer;
        padding: 10px;
        background-color: transparent;
        border: none;
        color: rgb(168, 168, 168);
        outline: none;
    }

    .projects_armazenamentos .prev {
        left: 10px;

    }

    .projects_armazenamentos .next {
        right: 10px;
    }

    .projects_armazenamentos .slideshow-container .slide img {
    display: block;

}

.projects_armazenamentos .slideshow-container .slide a {
    background: none;

}

}

@media (max-width: 992px) and (orientation: landscape) {
    header {
        height: 50px;
    }

    .myinformations .myinformations2 {
        display: flex;

    }

    .projects_armazenamentos .slideshow-container {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 300px;
    }

}